@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
html {
    font-family: "Inter", system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
}
@layer components{
    .fluid{
        @apply px-4 md:px-12 xl:px-36;
    }
    .sh-4{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .btn-primary{
        @apply inline-flex w-fit py-2 px-4 bg-primary-500 text-base font-semibold text-white rounded-lg transition ease-in-out hover:bg-primary-700 hover:scale-105 justify-center;
    }
    .active{
        @apply inline-flex w-fit py-2 px-4 text-base font-semibold text-primary-500 rounded-full bg-primary-50;
    }
    .btn-text{
        @apply inline-flex w-fit py-2 px-4 text-base font-semibold text-primary-500 rounded-full transition ease-in-out hover:bg-primary-50 hover:scale-105;
    }
    .label{
        @apply text-secondary-700 text-xl font-medium;
    }
    .card-title{
        @apply text-2xl font-bold text-primary-800;
    }
    .card-body{
        @apply text-lg font-medium text-primary-900;
    }
}